In [1]:
import sqlite3
import sqlalchemy

In [2]:
# create connection
#conn = sqlite3.connect('SLKB_sqlite3') 
#conn = sqlite3.connect('shan_new_SL')
conn = sqlite3.connect('shuai_SL')

# get cursor
c = conn.cursor()

# turn on foreign keys
c.execute("PRAGMA foreign_keys=ON")

## 1. CDKO Experiment Design

In [3]:
c.execute('''
          CREATE TABLE IF NOT EXISTS CDKO_EXPERIMENT_DESIGN
          ([sgRNA_id] INTEGER, 
          [sgRNA_guide_name] TEXT NOT NULL,
          [sgRNA_guide_seq] TEXT NOT NULL,
          [sgRNA_target_name] TEXT NOT NULL,
          [study_origin] TEXT NOT NULL,
          PRIMARY KEY (sgRNA_id)
          )
          ''')

conn.commit()

In [4]:
conn.execute("PRAGMA table_info('CDKO_EXPERIMENT_DESIGN')").fetchall()

[(0, 'sgRNA_id', 'INTEGER', 0, None, 1),
 (1, 'sgRNA_guide_name', 'TEXT', 1, None, 0),
 (2, 'sgRNA_guide_seq', 'TEXT', 1, None, 0),
 (3, 'sgRNA_target_name', 'TEXT', 1, None, 0),
 (4, 'study_origin', 'TEXT', 1, None, 0)]

## 2. CDKO sgRNA counts

In [5]:
c.execute('''
          CREATE TABLE IF NOT EXISTS CDKO_SGRNA_COUNTS
          ([sgRNA_pair_id] INTEGER, 
          [guide_1_id] INTEGER,
          [guide_2_id] INTEGER,
          [gene_pair_id] INTEGER,
          [gene_pair_orientation] TEXT,
          [T0_counts] TEXT,
          [T0_replicate_names] TEXT,
          [TEnd_counts] TEXT,
          [TEnd_replicate_names] TEXT,
          [target_type] TEXT,
          [study_origin] TEXT NOT NULL,
          [cell_line_origin] TEXT NOT NULL,
          PRIMARY KEY (sgRNA_pair_id),
          FOREIGN KEY(guide_1_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
          FOREIGN KEY(guide_2_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id)
          
          )
          ''')

conn.commit()

In [6]:
# #           FOREIGN KEY(guide_1_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
# #           FOREIGN KEY(guide_2_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES CDKO_ORIGINAL_SL_RESULTS(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES HORLBECK_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_NB_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES GEMINI_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_NB_SCORE(gene_pair_id)

In [7]:
# conn.execute("PRAGMA table_info('CDKO_SGRNA_COUNTS')").fetchall()

## 3. CDKO Original SL Results

In [8]:
c.execute('''
          CREATE TABLE IF NOT EXISTS CDKO_ORIGINAL_SL_RESULTS
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [gene_pair] TEXT NOT NULL,
          [study_origin] TEXT NOT NULL,
          [cell_line_origin] TEXT NOT NULL,
          [gene_1] TEXT NOT NULL,
          [gene_2] TEXT NOT NULL,
          [SL_or_not] TEXT NOT NULL,
          [SL_score] REAL,
          [statistical_score] REAL,
          [SL_score_cutoff] REAL,
          [statistical_score_cutoff] REAL,
          PRIMARY KEY (id)
          )
          ''')

conn.commit()

In [9]:
conn.execute("PRAGMA table_info('CDKO_ORIGINAL_SL_RESULTS')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'gene_pair', 'TEXT', 1, None, 0),
 (3, 'study_origin', 'TEXT', 1, None, 0),
 (4, 'cell_line_origin', 'TEXT', 1, None, 0),
 (5, 'gene_1', 'TEXT', 1, None, 0),
 (6, 'gene_2', 'TEXT', 1, None, 0),
 (7, 'SL_or_not', 'TEXT', 1, None, 0),
 (8, 'SL_score', 'REAL', 0, None, 0),
 (9, 'statistical_score', 'REAL', 0, None, 0),
 (10, 'SL_score_cutoff', 'REAL', 0, None, 0),
 (11, 'statistical_score_cutoff', 'REAL', 0, None, 0)]

## Results Tables

## Horlbeck Score

In [10]:
c.execute('''
          CREATE TABLE IF NOT EXISTS HORLBECK_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          [standard_error] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [11]:
c.execute("PRAGMA table_info('HORLBECK_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0),
 (3, 'standard_error', 'REAL', 0, None, 0)]

In [12]:
## Median-B Score

In [13]:
c.execute('''
          CREATE TABLE IF NOT EXISTS MEDIAN_B_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          [standard_error] REAL,
          [Z_SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [14]:
c.execute("PRAGMA table_info('MEDIAN_B_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0),
 (3, 'standard_error', 'REAL', 0, None, 0),
 (4, 'Z_SL_score', 'REAL', 0, None, 0)]

In [15]:
# c.execute('''
#           CREATE TABLE IF NOT EXISTS MEDIAN_B_SCORE_FULL_NORM
#           ([id] INTEGER,
#           [gene_pair_id] INTEGER, 
#           [SL_score] REAL,
#           [standard_error] REAL,
#           [Z_SL_score] REAL,
#           PRIMARY KEY (id)
#           )
#           ''')
# conn.commit()

In [16]:
# c.execute("PRAGMA table_info('MEDIAN_B_SCORE_FULL_NORM')").fetchall()

In [17]:
## Median-NB Score

In [18]:
c.execute('''
          CREATE TABLE IF NOT EXISTS MEDIAN_NB_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          [standard_error] REAL,
          [Z_SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [19]:
c.execute("PRAGMA table_info('MEDIAN_NB_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0),
 (3, 'standard_error', 'REAL', 0, None, 0),
 (4, 'Z_SL_score', 'REAL', 0, None, 0)]

In [20]:
# c.execute('''
#           CREATE TABLE IF NOT EXISTS MEDIAN_NB_SCORE_FULL_NORM
#           ([id] INTEGER,
#           [gene_pair_id] INTEGER, 
#           [SL_score] REAL,
#           [standard_error] REAL,
#           [Z_SL_score] REAL,
#           PRIMARY KEY (id)
#           )
#           ''')
# conn.commit()

In [21]:
# c.execute("PRAGMA table_info('MEDIAN_NB_SCORE_FULL_NORM')").fetchall()

In [22]:
## GEMINI Score

In [23]:
c.execute('''
          CREATE TABLE IF NOT EXISTS GEMINI_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [24]:
c.execute("PRAGMA table_info('GEMINI_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0)]

In [25]:
## MAGeCK Score

In [26]:
c.execute('''
          CREATE TABLE IF NOT EXISTS MAGECK_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          [standard_error] REAL,
          [Z_SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [27]:
c.execute("PRAGMA table_info('MAGECK_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0),
 (3, 'standard_error', 'REAL', 0, None, 0),
 (4, 'Z_SL_score', 'REAL', 0, None, 0)]

In [28]:
## sgRNA-Derived B Score

In [29]:
c.execute('''
          CREATE TABLE IF NOT EXISTS SGRA_DERIVED_B_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [30]:
c.execute("PRAGMA table_info('SGRA_DERIVED_B_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0)]

In [31]:
# c.execute('''
#           CREATE TABLE IF NOT EXISTS SGRA_DERIVED_B_SCORE_FULL_NORM
#           ([id] INTEGER,
#           [gene_pair_id] INTEGER, 
#           [SL_score] REAL,
#           PRIMARY KEY (id)
#           )
#           ''')
# conn.commit()

In [32]:
# c.execute("PRAGMA table_info('SGRA_DERIVED_B_SCORE')").fetchall()

In [33]:
## sgRNA-Derived NB Score

In [34]:
c.execute('''
          CREATE TABLE IF NOT EXISTS SGRA_DERIVED_NB_SCORE
          ([id] INTEGER,
          [gene_pair_id] INTEGER, 
          [SL_score] REAL,
          PRIMARY KEY (id)
          )
          ''')
conn.commit()

In [35]:
c.execute("PRAGMA table_info('SGRA_DERIVED_NB_SCORE')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'gene_pair_id', 'INTEGER', 0, None, 0),
 (2, 'SL_score', 'REAL', 0, None, 0)]

In [36]:
# c.execute('''
#           CREATE TABLE IF NOT EXISTS SGRA_DERIVED_NB_SCORE_FULL_NORM
#           ([id] INTEGER,
#           [gene_pair_id] INTEGER, 
#           [SL_score] REAL,
#           PRIMARY KEY (id)
#           )
#           ''')
# conn.commit()

In [37]:
# c.execute("PRAGMA table_info('SGRA_DERIVED_NB_SCORE')").fetchall()

In [38]:
# ,
#           FOREIGN KEY(gene_pair_id) REFERENCES CDKO_SGRNA_COUNTS(gene_pair_id)

## 2. CDKO sgRNA counts

In [39]:
# c.execute('''
#           CREATE TABLE IF NOT EXISTS CDKO_SGRNA_COUNTS
#           ([sgRNA_pair_id] INTEGER, 
#           [guide_1_id] INTEGER,
#           [guide_2_id] INTEGER,
#           [gene_pair_id] INTEGER,
#           [gene_pair_orientation] TEXT,
#           [T0_counts] TEXT,
#           [T0_replicate_names] TEXT,
#           [TEnd_counts] TEXT,
#           [TEnd_replicate_names] TEXT,
#           [target_type] TEXT,
#           [study_origin] TEXT NOT NULL,
#           [cell_line_origin] TEXT NOT NULL,
#           PRIMARY KEY (sgRNA_pair_id),
          
#           FOREIGN KEY(guide_1_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
#           FOREIGN KEY(guide_2_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id)
          
#           )
#           ''')

# conn.commit()

In [40]:
# ,
#           FOREIGN KEY(gene_pair_id) REFERENCES CDKO_ORIGINAL_SL_RESULTS(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES HORLBECK_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_NB_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES GEMINI_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_NB_SCORE(gene_pair_id)

In [41]:
#           FOREIGN KEY(guide_1_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
#           FOREIGN KEY(guide_2_id) REFERENCES CDKO_EXPERIMENT_DESIGN(sgRNA_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES CDKO_ORIGINAL_SL_RESULTS(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES HORLBECK_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES MEDIAN_NB_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES GEMINI_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_B_SCORE(gene_pair_id),
#           FOREIGN KEY(gene_pair_id) REFERENCES SGRA_DERIVED_NB_SCORE(gene_pair_id)

In [42]:
# conn.execute("PRAGMA table_info('CDKO_SGRNA_COUNTS')").fetchall()

## Save changes

In [43]:
conn.close()

In [44]:
# c.execute('select sql from sqlite_master').fetchall()
#dbEngine=sqlalchemy.create_engine('sqlite:///SLKB_sqlite3')