In [1]:
import numpy as np
import pandas as pd
import os
import math
from itertools import chain
import pickle
import sqlalchemy
from sqlalchemy.orm import sessionmaker
import stellargraph as sg
import tensorflow as tf
import networkx as nx
import keras
import json
from sklearn.metrics import f1_score
import multiprocessing
import shap
import copy

2023-04-12 18:39:39.589947: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-12 18:39:40.918503: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-12 18:39:40.918536: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-04-12 18:39:47.059731: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-04-12 18:39:47.060314: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-04-12 18:39:47.060333: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-04-12 18:39:58.539449: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2023-04-12 18:39:58.539541: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (p0042.ten.osc.edu): /proc/driver/nvidia/version does not exist
2023-04-12 18:39:58.546788: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
from sqlalchemy.engine import Engine
from sqlalchemy import event

@event.listens_for(Engine, "connect")
def set_sqlite_pragma(dbapi_connection, connection_record):
    cursor = dbapi_connection.cursor()
    cursor.execute("PRAGMA foreign_keys=ON")
    cursor.close()

## Create a SL Database with Wet-Lab Experiments

all SL data:

* Diehl
* Han
* Horlbeck (Done)
* Ito
* Laufer (Done)
* Parrish
* Shen
* Thompson
* Wong
* Zhao (Done)

In [3]:
# Load in the datasets
data_locs = "/users/PAS1376/bg12/SyntheticLethality/SyntheticLethalityReview/Project/ml_inputs"
learning_goals_loc_general =  os.path.join(data_locs, "learning_goals")
learning_goals_loc_general = '/users/PAS1376/bg12/SyntheticLethality - NewDB/data'

In [4]:
db_location =  "/users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3"

In [5]:
# read the database
SLKB_engine = sqlalchemy.create_engine('sqlite:///' + db_location)
#SLKB_engine_session = sessionmaker(bind=SLKB_engine)SLKB_sqlite3

In [6]:
db_metadata = sqlalchemy.MetaData(bind=SLKB_engine)
db_metadata.reflect(SLKB_engine)

In [7]:
db_metadata.tables

FacadeDict({'CDKO_EXPERIMENT_DESIGN': Table('CDKO_EXPERIMENT_DESIGN', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('sgRNA_id', INTEGER(), table=<CDKO_EXPERIMENT_DESIGN>, primary_key=True), Column('sgRNA_guide_name', TEXT(), table=<CDKO_EXPERIMENT_DESIGN>, nullable=False), Column('sgRNA_guide_seq', TEXT(), table=<CDKO_EXPERIMENT_DESIGN>, nullable=False), Column('sgRNA_target_name', TEXT(), table=<CDKO_EXPERIMENT_DESIGN>, nullable=False), Column('study_origin', TEXT(), table=<CDKO_EXPERIMENT_DESIGN>, nullable=False), schema=None), 'CDKO_ORIGINAL_SL_RESULTS': Table('CDKO_ORIGINAL_SL_RESULTS', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<CDKO_ORIGINAL_SL_RESULTS>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<CDKO_ORIGINAL_SL_RESULTS>), Column('gene_pair', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('study_origin', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('cell_line_origin', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('gene_1', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('gene_2', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('SL_or_not', TEXT(), table=<CDKO_ORIGINAL_SL_RESULTS>, nullable=False), Column('SL_score', REAL(), table=<CDKO_ORIGINAL_SL_RESULTS>), Column('statistical_score', REAL(), table=<CDKO_ORIGINAL_SL_RESULTS>), Column('SL_score_cutoff', REAL(), table=<CDKO_ORIGINAL_SL_RESULTS>), Column('statistical_score_cutoff', REAL(), table=<CDKO_ORIGINAL_SL_RESULTS>), schema=None), 'CDKO_SGRNA_COUNTS': Table('CDKO_SGRNA_COUNTS', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('sgRNA_pair_id', INTEGER(), table=<CDKO_SGRNA_COUNTS>, primary_key=True), Column('guide_1_id', INTEGER(), ForeignKey('CDKO_EXPERIMENT_DESIGN.sgRNA_id'), table=<CDKO_SGRNA_COUNTS>), Column('guide_2_id', INTEGER(), ForeignKey('CDKO_EXPERIMENT_DESIGN.sgRNA_id'), table=<CDKO_SGRNA_COUNTS>), Column('gene_pair_id', INTEGER(), table=<CDKO_SGRNA_COUNTS>), Column('gene_pair_orientation', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('T0_counts', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('T0_replicate_names', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('TEnd_counts', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('TEnd_replicate_names', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('target_type', TEXT(), table=<CDKO_SGRNA_COUNTS>), Column('study_origin', TEXT(), table=<CDKO_SGRNA_COUNTS>, nullable=False), Column('cell_line_origin', TEXT(), table=<CDKO_SGRNA_COUNTS>, nullable=False), schema=None), 'GEMINI_SCORE': Table('GEMINI_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<GEMINI_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<GEMINI_SCORE>), Column('SL_score_Strong', REAL(), table=<GEMINI_SCORE>), Column('SL_score_SensitiveLethality', REAL(), table=<GEMINI_SCORE>), Column('SL_score_SensitiveRecovery', REAL(), table=<GEMINI_SCORE>), schema=None), 'HORLBECK_SCORE': Table('HORLBECK_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<HORLBECK_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<HORLBECK_SCORE>), Column('SL_score', REAL(), table=<HORLBECK_SCORE>), Column('standard_error', REAL(), table=<HORLBECK_SCORE>), schema=None), 'MAGECK_SCORE': Table('MAGECK_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<MAGECK_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<MAGECK_SCORE>), Column('SL_score', REAL(), table=<MAGECK_SCORE>), Column('standard_error', REAL(), table=<MAGECK_SCORE>), Column('Z_SL_score', REAL(), table=<MAGECK_SCORE>), schema=None), 'MEDIAN_B_SCORE': Table('MEDIAN_B_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<MEDIAN_B_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<MEDIAN_B_SCORE>), Column('SL_score', REAL(), table=<MEDIAN_B_SCORE>), Column('standard_error', REAL(), table=<MEDIAN_B_SCORE>), Column('Z_SL_score', REAL(), table=<MEDIAN_B_SCORE>), schema=None), 'MEDIAN_NB_SCORE': Table('MEDIAN_NB_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<MEDIAN_NB_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<MEDIAN_NB_SCORE>), Column('SL_score', REAL(), table=<MEDIAN_NB_SCORE>), Column('standard_error', REAL(), table=<MEDIAN_NB_SCORE>), Column('Z_SL_score', REAL(), table=<MEDIAN_NB_SCORE>), schema=None), 'SGRA_DERIVED_B_SCORE': Table('SGRA_DERIVED_B_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<SGRA_DERIVED_B_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<SGRA_DERIVED_B_SCORE>), Column('SL_score', REAL(), table=<SGRA_DERIVED_B_SCORE>), schema=None), 'SGRA_DERIVED_NB_SCORE': Table('SGRA_DERIVED_NB_SCORE', MetaData(bind=Engine(sqlite:////users/PAS1376/bg12/SyntheticLethality - NewDB/Python_Clean/SLKB_sqlite3)), Column('id', INTEGER(), table=<SGRA_DERIVED_NB_SCORE>, primary_key=True), Column('gene_pair_id', INTEGER(), table=<SGRA_DERIVED_NB_SCORE>), Column('SL_score', REAL(), table=<SGRA_DERIVED_NB_SCORE>), schema=None)})

In [8]:
## store pubmed IDs
study_name_to_pubmed_id = {}

study_name_to_pubmed_id['diehl_data'] = '33956155'

study_name_to_pubmed_id['han_data'] = '28319085'

study_name_to_pubmed_id['horlbeck_data'] = '30033366'

study_name_to_pubmed_id['ito_data'] = '34857952'

study_name_to_pubmed_id['parrish_data'] = '34469736'

study_name_to_pubmed_id['shen_data'] = '28319113'

study_name_to_pubmed_id['thompson_data'] = '33637726'

study_name_to_pubmed_id['wong_data'] = '26864203'

study_name_to_pubmed_id['zhao_data'] = '29452643'

study_name_to_pubmed_id['shantang_data'] = '36060092'

study_name_to_pubmed_id['najm_data'] = '29251726'

In [9]:
rev_study_name_to_pubmed_id = {}
for item in study_name_to_pubmed_id:
    rev_study_name_to_pubmed_id[study_name_to_pubmed_id[item]] = item

In [10]:
# raw_scores = pd.read_csv('SLKB_original_raw_reported_SL.csv', index_col = 0)
# raw_scores['study_origin'] = raw_scores['study_origin'].astype(str)
# raw_scores['SL_or_not'] = raw_scores['SL_or_not'].astype(str)

In [11]:
all_results_tables = ['HORLBECK_SCORE', 
                      'MAGECK_SCORE', 
                      'MEDIAN_NB_SCORE', 
                      #'MEDIAN_NB_SCORE_FULL_NORM', 
                      'MEDIAN_B_SCORE', 
                      #'MEDIAN_B_SCORE_FULL_NORM',
                      'SGRA_DERIVED_NB_SCORE', 
                      #'SGRA_DERIVED_NB_SCORE_FULL_NORM', 
                      'SGRA_DERIVED_B_SCORE', 
                      #'SGRA_DERIVED_B_SCORE_FULL_NORM', 
                      'GEMINI_SCORE']

In [12]:
# for table_name in ['MEDIAN_NB_SCORE_FULL_NORM', 'MEDIAN_B_SCORE_FULL_NORM', 'SGRA_DERIVED_NB_SCORE_FULL_NORM', 'SGRA_DERIVED_B_SCORE_FULL_NORM']:
#     if table_name in db_metadata.tables:
#         curr_table = db_metadata.tables[table_name]
#         curr_table.drop()
        
# for table_name in all_results_tables:
#     if table_name in db_metadata.tables:
#         curr_table = db_metadata.tables[table_name]
#         curr_table.drop()

In [13]:
scores = pd.read_sql_table('CDKO_ORIGINAL_SL_RESULTS', SLKB_engine, index_col = 'gene_pair_id')

In [14]:
scores

,id,gene_pair,study_origin,cell_line_origin,gene_1,gene_2,SL_or_not,SL_score,statistical_score,SL_score_cutoff,statistical_score_cutoff
gene_pair_id,,,,,,,,,,,
0.0,0,AKT1|AMBRA1,33956155,RPE1,AKT1,AMBRA1,Not SL,-0.010982,0.000000,-1.0,0.00
91.0,1,AKT3|AMBRA1,33956155,RPE1,AKT3,AMBRA1,Not SL,2.159344,0.000000,-1.0,0.00
183.0,2,AMBRA1|ARF6,33956155,RPE1,ARF6,AMBRA1,Not SL,-0.564699,0.000000,-1.0,0.00
184.0,3,AMBRA1|ATF4,33956155,RPE1,ATF4,AMBRA1,Not SL,0.999030,0.000000,-1.0,0.00
185.0,4,AMBRA1|ATG10,33956155,RPE1,ATG10,AMBRA1,Not SL,3.916281,0.000000,-1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...
354193.0,282281,UBB|UBC,29251726,HT29,UBB,UBC,Not SL,0.000000,1.000000,0.0,0.01
354191.0,282282,UBB|UBC,29251726,A375,UBB,UBC,Not SL,0.000000,0.938604,0.0,0.01
354190.0,282283,UBB|UBC,29251726,786O,UBB,UBC,Not SL,0.000000,1.000000,0.0,0.01
354195.0,282284,UBB|UBC,29251726,OVCAR8,UBB,UBC,Not SL,0.000000,0.967425,0.0,0.01
354192.0,282285,UBB|UBC,29251726,A549,UBB,UBC,Not SL,0.000000,0.784245,0.0,0.01

In [15]:
scores['SL_or_not'].value_counts()

Not SL    266212
SL         16074
Name: SL_or_not, dtype: int64

In [16]:
# read the data

# experiment design
experiment_design = pd.read_sql_table('CDKO_EXPERIMENT_DESIGN', SLKB_engine, index_col = 'sgRNA_id')#
experiment_design.drop(['study_origin'], axis = 1, inplace = True)
experiment_design.reset_index(drop = True, inplace = True)
experiment_design.index.rename('sgRNA_id', inplace = True)

# counts
counts = pd.read_sql_table('CDKO_SGRNA_COUNTS', SLKB_engine, index_col = 'sgRNA_pair_id')
counts.reset_index(drop = True, inplace = True)
counts.index.rename('sgRNA_pair_id', inplace = True)

# scores
scores = pd.read_sql_table('CDKO_ORIGINAL_SL_RESULTS', SLKB_engine, index_col = 'gene_pair_id')

In [17]:
# join the tables together
counts = counts.merge(scores, how = 'left', left_on = 'gene_pair_id', right_index = True)
counts = counts.merge(experiment_design, how = 'left', left_on = 'guide_1_id', right_index = True, suffixes = ('', '_g1'))
counts = counts.merge(experiment_design, how = 'left', left_on = 'guide_2_id', right_index = True, suffixes = ('', '_g2'))
# rename
counts = counts.rename({'sgRNA_guide_name': 'sgRNA_guide_name_g1',
                        'sgRNA_guide_seq': 'sgRNA_guide_seq_g1',
                        'sgRNA_target_name': 'sgRNA_target_name_g1',
                        'study_origin_x': 'study_origin',
                        'cell_line_origin_x': 'cell_line_origin'}, axis = 1)

experiment_design = pd.read_sql_table('CDKO_EXPERIMENT_DESIGN', SLKB_engine, index_col = 'sgRNA_id')
experiment_design.reset_index(drop = True, inplace = True)
experiment_design.index.rename('sgRNA_id', inplace = True)

In [18]:
counts.loc[(counts['study_origin'] == '36060092'),:].shape

(48931, 28)

In [19]:
counts.loc[(counts['study_origin'] == '36060092') & (counts['target_type'] == 'Control'), 'sgRNA_target_name_g1'].value_counts()

CONTROL    614
Name: sgRNA_target_name_g1, dtype: int64

In [20]:
counts.loc[(counts['study_origin'] == '36060092') & (counts['target_type'] == 'Control'), 'sgRNA_target_name_g2'].value_counts()

CONTROL    614
Name: sgRNA_target_name_g2, dtype: int64

In [21]:
def query_result_table(curr_counts, table_name, curr_study, curr_cl, engine_link):
    
    print('Accessing table: ' + table_name)
    
    # get available results
    res = pd.read_sql_table(table_name, engine_link, index_col = 'id')
    
    # possible gene pairs
    curr_counts['gene_pair'] = ['|'.join(sorted([curr_counts['sgRNA_target_name_g1'].iloc[i], curr_counts['sgRNA_target_name_g2'].iloc[i]])) for i in range(curr_counts.shape[0])]

    # get results
    query_res = curr_counts.loc[curr_counts['target_type'] == 'Dual', ['gene_pair', 'gene_pair_id']].drop_duplicates(subset = ['gene_pair_id'])
    query_res = query_res.merge(res, left_on = 'gene_pair_id', right_on = 'gene_pair_id').drop('gene_pair_id', axis = 1)
    
    # add column names to the front
    names_dict = {i: table_name + '_' + i for i in query_res.columns[1:]}
    query_res.rename(columns = names_dict, inplace = True)
    #query_res.columns[1:] = table_name + '_' + query_res.columns[1:]
    
    print('Available gene pairs: ' + str(query_res.shape[0]))
    
    # add name of study
    query_res['study_origin'] = curr_study
    
    # add name of cell line
    query_res['cell_line_origin'] = curr_cl
    
    # set the gene pair as index
    query_res.index = query_res['gene_pair']
    
    return(query_res)

In [22]:
available_studies = set(counts['study_origin'])
available_studies = sorted([rev_study_name_to_pubmed_id[i] for i in set(counts['study_origin'])])

In [23]:
available_studies = ['horlbeck_data']

In [26]:
all_scores = []
for curr_study in available_studies:
    print('Working on study: ' + curr_study)

    # get study counts and seq
    study_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study]].copy()

    curr_seq_ids = np.array(sorted(list(set(study_counts['guide_1_id'].tolist() + study_counts['guide_2_id'].tolist()))))
    study_sequences = experiment_design.loc[curr_seq_ids]

    # the analysis runs for each individual cell line
    available_cell_lines = set(study_counts['cell_line_origin'])


    for curr_cl in available_cell_lines:
        # store results here
        study_scores = []
    
        print('Working on cell line: ' + curr_cl)
        curr_counts = study_counts.loc[study_counts['cell_line_origin'] == curr_cl].copy()
        
        for table_name in all_results_tables:
            study_scores.append(query_result_table(curr_counts.copy(), table_name, curr_study, curr_cl, SLKB_engine))
    
        # remove duplicate annotation columns
        study_scores = pd.concat(study_scores, axis = 1, ignore_index = False)
        study_scores = study_scores.loc[:,~study_scores.columns.duplicated(keep = 'last')].copy()
        
        # make sure the annotations are all filled
        study_scores['gene_pair'] = study_scores.index
        study_scores['study_origin'] = study_name_to_pubmed_id[curr_study]
        study_scores['cell_line_origin'] = curr_cl
        
        # reset the index, gene_pair -> id
        study_scores.reset_index(drop = True, inplace = True)

        # add to big table 
        all_scores.append(study_scores)
    
    print('-----')
    
print('Done getting all data!')
    
# combine the scores at the end
all_scores = pd.concat(all_scores, axis = 0, ignore_index = True)

# add individual genes
all_scores['gene_1'] = [i.split('|')[0] for i in all_scores['gene_pair']]
all_scores['gene_2'] = [i.split('|')[1] for i in all_scores['gene_pair']]

# sort such that all annotations are at the front
all_columns = sorted(list(all_scores.columns))
annotation_columns = ['gene_pair', 'gene_1', 'gene_2', 'study_origin', 'cell_line_origin']

# get the final scores
all_scores = all_scores.loc[:, annotation_columns + [i for i in all_columns if i not in annotation_columns]]

Working on study: horlbeck_data
Working on cell line: K562
Accessing table: HORLBECK_SCORE
Available gene pairs: 100128
Accessing table: MAGECK_SCORE
Available gene pairs: 100128
Accessing table: MEDIAN_NB_SCORE
Available gene pairs: 0
Accessing table: MEDIAN_B_SCORE
Available gene pairs: 0
Accessing table: SGRA_DERIVED_NB_SCORE
Available gene pairs: 0
Accessing table: SGRA_DERIVED_B_SCORE
Available gene pairs: 0
Accessing table: GEMINI_SCORE
Available gene pairs: 0
Working on cell line: JURKAT
Accessing table: HORLBECK_SCORE
Available gene pairs: 75078
Accessing table: MAGECK_SCORE
Available gene pairs: 75078
Accessing table: MEDIAN_NB_SCORE
Available gene pairs: 0
Accessing table: MEDIAN_B_SCORE
Available gene pairs: 0
Accessing table: SGRA_DERIVED_NB_SCORE
Available gene pairs: 0
Accessing table: SGRA_DERIVED_B_SCORE
Available gene pairs: 0
Accessing table: GEMINI_SCORE
Available gene pairs: 0
-----
Done getting all data!

In [25]:
all_scores.to_csv('SLKB_calculated_scores_horlbeck.csv')

In [24]:
all_scores = pd.read_csv('SLKB_calculated_scores_041123_9_stud.csv')

In [25]:
#curr_counts['target_type'].value_counts()

In [26]:
#available_genes = set(curr_counts['sgRNA_target_name_g1'].tolist()).union(set(curr_counts['sgRNA_target_name_g2'].tolist()))

In [43]:
def get_stats_for_study(curr_sequences, curr_counts, curr_calculated_scores, curr_original_scores):#, curr_raw_scores
    
    # stats for the experiment design
    print('sgRNA information:')
    if curr_sequences.shape[0] == 0:
        print('No sgRNA information in SLKB')
    else:
        print('Total available sgRNAs: ' + str(curr_sequences.shape[0]))
        print('sgRNAs that target controls: ' + str((curr_sequences['sgRNA_target_name'] == 'CONTROL').sum()))
        print('sgRNAs that target NOT controls: ' + str((curr_sequences['sgRNA_target_name'] != 'CONTROL').sum()))
        
    print('++++++')
    print('Counts information:')
    if curr_counts.shape[0] == 0:
        print('No counts information in SLKB')
    else:
        print('Total available sgRNAs counts ' + str(curr_counts.shape[0]))
        print('sgRNA counts that target controls: ' + str((curr_counts['target_type'] == 'Control').sum()))
        print('sgRNA counts that target single genes: ' + str((curr_counts['target_type'] == 'Single').sum()))
        print('sgRNA counts that target dual genes: ' + str((curr_counts['target_type'] == 'Dual').sum()))
        available_genes = set(curr_counts['sgRNA_target_name_g1'].tolist()).union(set(curr_counts['sgRNA_target_name_g2'].tolist()))
        if 'CONTROL' in available_genes:
            available_genes.remove('CONTROL')
        print('Total genes with counts ' + str(len(available_genes)))
    
    
    print('++++++')
    print('Calculated scores information:')
    if curr_calculated_scores.shape[0] == 0:
        print('No calculated scores information in SLKB')
    else:
        print('Total calculated SL scores ' + str(curr_calculated_scores.shape[0]))
        print('Total unique number of gene pairs ' + str(len(set(curr_calculated_scores['gene_pair']))))
        available_genes = set(curr_calculated_scores['gene_1'].tolist()).union(set(curr_calculated_scores['gene_2'].tolist()))
        print('Total genes with SL scores ' + str(len(available_genes)))
    
    cell_line_string = []
    print('++++++')
    print('Original SL scores information:')
    if curr_original_scores.shape[0] == 0:
        print('No processed original scores information in SLKB (processed)')
    else:
        print('Total calculated SL scores ' + str(curr_original_scores.shape[0]))
        print('Total unique number of gene pairs ' + str(len(set(curr_original_scores['gene_pair']))))
        available_genes = set(curr_original_scores['gene_1'].tolist()).union(set(curr_original_scores['gene_2'].tolist()))
        print('Total genes with SL scores ' + str(len(available_genes)))
        print('Total SL: ' + str((curr_original_scores['SL_or_not'] == "SL").sum()))
        print('Total Not SL: ' + str((curr_original_scores['SL_or_not'] != "SL").sum()))
        
        print('\n> Significance Cutoff (SL Score): {sl}, Statistical Cutoff (Stat): {stat}'.format(sl = curr_original_scores['SL_score_cutoff'].iloc[0], stat = curr_original_scores['statistical_score_cutoff'].iloc[0]) )
        
        
        ## print SL for each cell line
        for cl in set(curr_original_scores['cell_line_origin']):
            subset_data = curr_original_scores.loc[curr_original_scores['cell_line_origin'] == cl, :].copy()
            
            
            #cl + ' (' + str((subset_data['SL_or_not'] == "SL").sum()), ' SL )'
            cell_line_string.append('{cl} ({numSL} SL)'.format(cl = cl, numSL = sum(subset_data['SL_or_not'] == "SL")))
#             print('Cell Line = ' + cl)
#             print('Total SL: ' + str((curr_original_scores['SL_or_not'] == "SL").sum()))
#             print('Total Not SL: ' + str((curr_original_scores['SL_or_not'] != "SL").sum()))
            
    cell_line_string = ', '.join(cell_line_string)
    print('cell_line_string\n')
    print(cell_line_string)
    
    if (curr_sequences.shape[0] != 0) and (curr_counts.shape[0] != 0) and (curr_original_scores.shape[0] != 0):
        library_string = '{allsgRNAs} sgRNAs ({controls} controls), {genes} genes, {genepairs} gene pairs, {dualsgrna} dualsgrnas'.format(allsgRNAs = curr_sequences.shape[0],
                                                                                                          controls = (curr_sequences['sgRNA_target_name'] == 'CONTROL').sum(),
                                                                                                         genes = len(available_genes),
                                                                                                         genepairs = len(set(curr_original_scores['gene_pair'])),
                                                                                                         dualsgrna = curr_counts.shape[0])
    else:
        library_string = 'Not available!'
        
    print('library string\n')
    print(library_string)
#     print('++++++')
#     print('Raw SL scores information:')
#     if curr_raw_scores.shape[0] == 0:
#         print('No raw scores information in SLKB (processed)')
#     else:
#         print('Total raw SL scores ' + str(curr_raw_scores.shape[0]))
#         print('Total raw SL scores (Only Dual) ' + str((curr_raw_scores['gene_1'] != curr_raw_scores['gene_2']).sum()))
#         print('Total unique number of gene pairs ' + str(len(set(curr_raw_scores['gene_pair']))))
#         available_genes = set(curr_raw_scores['gene_1'].tolist()).union(set(curr_raw_scores['gene_2'].tolist()))
#         print('Total genes with SL scores ' + str(len(available_genes)))
#         print('Total SL: ' + str((curr_raw_scores['SL_or_not'] == "SL").sum()))
#         print('Total Not SL: ' + str((curr_raw_scores['SL_or_not'] == "Not SL").sum()))
        
    print('\n\n---------------\n\n')
    pass

In [26]:
study_name_to_pubmed_id

{'diehl_data': '33956155',
 'han_data': '28319085',
 'horlbeck_data': '30033366',
 'ito_data': '34857952',
 'parrish_data': '34469736',
 'shen_data': '28319113',
 'thompson_data': '33637726',
 'wong_data': '26864203',
 'zhao_data': '29452643',
 'shantang_data': '36060092',
 'najm_data': '29251726'}

In [27]:
len(set(counts['study_origin']))

9

In [28]:
len(set(counts['cell_line_origin']))

22

In [29]:
len(set(scores['study_origin']))

11

In [30]:
len(set(scores['cell_line_origin']))

22

In [37]:
scores

,id,gene_pair,study_origin,cell_line_origin,gene_1,gene_2,SL_or_not,SL_score,statistical_score,SL_score_cutoff,statistical_score_cutoff
gene_pair_id,,,,,,,,,,,
0.0,0,AKT1|AMBRA1,33956155,RPE1,AKT1,AMBRA1,Not SL,-0.010982,0.0,-1.00,0.0
91.0,1,AKT3|AMBRA1,33956155,RPE1,AKT3,AMBRA1,Not SL,2.159344,0.0,-1.00,0.0
183.0,2,AMBRA1|ARF6,33956155,RPE1,ARF6,AMBRA1,Not SL,-0.564699,0.0,-1.00,0.0
184.0,3,AMBRA1|ATF4,33956155,RPE1,ATF4,AMBRA1,Not SL,0.999030,0.0,-1.00,0.0
185.0,4,AMBRA1|ATG10,33956155,RPE1,ATG10,AMBRA1,Not SL,3.916281,0.0,-1.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
398905.0,280481,UBB|UBC,29251726,HT29,UBB,UBC,Not SL,1.000000,0.0,0.01,0.0
398903.0,280482,UBB|UBC,29251726,A375,UBB,UBC,Not SL,0.938604,0.0,0.01,0.0
398902.0,280483,UBB|UBC,29251726,786O,UBB,UBC,Not SL,1.000000,0.0,0.01,0.0
398907.0,280484,UBB|UBC,29251726,OVCAR8,UBB,UBC,Not SL,0.967425,0.0,0.01,0.0
398904.0,280485,UBB|UBC,29251726,A549,UBB,UBC,Not SL,0.784245,0.0,0.01,0.0

In [39]:
# for all SLKB
get_stats_for_study(#curr_study = study_name_to_pubmed_id[curr_study], 
                    curr_sequences = experiment_design.copy(), 
                    curr_counts = counts.copy(),
                    curr_calculated_scores = all_scores.copy(), 
                    curr_original_scores = scores.copy())

sgRNA information:
Total available sgRNAs: 32120
sgRNAs that target controls: 1303
sgRNAs that target NOT controls: 30817
++++++
Counts information:
Total available sgRNAs counts 3922934
sgRNA counts that target controls: 8884
sgRNA counts that target single genes: 403855
sgRNA counts that target dual genes: 3510195
Total genes with counts 5237
++++++
Calculated scores information:
Total calculated SL scores 305491
Total unique number of gene pairs 134019
Total genes with SL scores 5237
++++++
Original SL scores information:
Total calculated SL scores 280486
Total unique number of gene pairs 148040
Total genes with SL scores 6127
Total SL: 16059
Total Not SL: 264427
Significance Cutoff (SL Score): -1.0, Statistical Cutoff (Stat): 0.0
cell_line_string

PATU8988S (618 SL), 786O (0 SL), OVCAR8 (56 SL), A549 (682 SL), IPC298 (619 SL), 293T (59 SL), PC9 (87 SL), GI1 (476 SL), HS944T (497 SL), MEWO (475 SL), HELA (149 SL), RPE1 (6833 SL), MELJUSO (551 SL), 22RV1 (274 SL), HSC5 (705 SL), K562 (1563 SL), A375 (46 SL), HS936T (636 SL), JURKAT (374 SL), HT29 (3 SL), PK1 (668 SL), MEL202 (688 SL)
library string

32120 sgRNAs (1303 controls), 6127 genes, 148040 gene pairs, 3922934 dualsgrnas


---------------

In [32]:
scores['SL_or_not'].value_counts()

Not SL    264427
SL         16059
Name: SL_or_not, dtype: int64

In [35]:
scores.shape

(280486, 11)

In [33]:
for curr_study in study_name_to_pubmed_id.keys():
    curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
    if curr_counts.shape[0] == 0:
        continue
    control_counts = (curr_counts['target_type'] == 'Control').sum()
    if control_counts == 0:
        print('Working on study: ' + curr_study)
        print('Zero control!!!!')

Working on study: ito_data
Zero control!!!!
Working on study: zhao_data
Zero control!!!!

In [33]:
curr_study = 'zhao_data'
curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_sequences = experiment_design.loc[experiment_design['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()

In [37]:
curr_counts.loc[curr_counts['sgRNA_guide_name_g1'] == 'NONTARGETINGCONTROLGUIDEFORHUMAN0654']

,guide_1_id,guide_2_id,gene_pair_id,gene_pair_orientation,T0_counts,T0_replicate_names,TEnd_counts,TEnd_replicate_names,target_type,study_origin,...,SL_score,statistical_score,SL_score_cutoff,statistical_score_cutoff,sgRNA_guide_name_g1,sgRNA_guide_seq_g1,sgRNA_target_name_g1,sgRNA_guide_name_g2,sgRNA_guide_seq_g2,sgRNA_target_name_g2
sgRNA_pair_id,,,,,,,,,,,,,,,,,,,,,
3651555,31412,31259,383798,B_A,3037.0;3689.0,A549_MV4_d3_1_S1_trimmed53_len_filtered_counts...,3183.0;5088.0,A549_MV4_d28_1_S7_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,ALDOA_CHR16_30078215,CTGGCTTGCGCCTTGCCATG,ALDOA
3651556,31412,31261,383798,B_A,1557.0;2050.0,A549_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1802.0;1554.0,A549_MV4_d28_1_S7_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,ALDOA_CHR16_30078583,GGTCAGTGCTGGATATTGGT,ALDOA
3651557,31412,31263,383898,B_A,835.0;794.0,A549_MV4_d3_1_S1_trimmed53_len_filtered_counts...,836.0;1436.0,A549_MV4_d28_1_S7_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,ALDOB_CHR9_104193156,AATCGGTGGGCCATGGTGAC,ALDOB
3651558,31412,31267,383996,B_A,702.0;581.0,A549_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1445.0;424.0,A549_MV4_d28_1_S7_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,ALDOC_CHR17_26901145,TCCCATCAAGTATACCCCAG,ALDOC
3651559,31412,31268,384094,A_B,811.0;1085.0,A549_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1494.0;1691.0,A549_MV4_d28_1_S7_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,DLAT_CHR11_111896198,TGTGGCGCGTCTGTGCGCGA,DLAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3663561,31412,31403,384185,A_B,832.0;1194.0,Hela_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1688.0;1310.0,Hela_MV4_d28_1_S5_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,TALDO1_CHR11_755937,AGCACAGATGCCCGCTTACC,TALDO1
3663562,31412,31407,384187,A_B,742.0;948.0,Hela_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1154.0;957.0,Hela_MV4_d28_1_S5_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,TKT_CHR3_53263054,TCTGTAGCAACGCCATCACT,TKT
3663563,31412,31406,384187,A_B,340.0;570.0,Hela_MV4_d3_1_S1_trimmed53_len_filtered_counts...,1014.0;949.0,Hela_MV4_d28_1_S5_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,TKT_CHR3_53289952,TCTCCATGGTGCGGCAGGCG,TKT
3663564,31412,31409,384189,A_B,754.0;698.0,Hela_MV4_d3_1_S1_trimmed53_len_filtered_counts...,936.0;1381.0,Hela_MV4_d28_1_S5_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,TPI1_CHR12_6976607,GACTGGGCGGGCCATGGCGG,TPI1
3663565,31412,31411,384189,A_B,577.0;382.0,Hela_MV4_d3_1_S1_trimmed53_len_filtered_counts...,161.0;143.0,Hela_MV4_d28_1_S5_trimmed53_len_filtered_count...,Single,29452643,...,NaN,NaN,NaN,NaN,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,TPI1_CHR12_6976836,GAGGGCTTACCGGTGTCGGC,TPI1

In [34]:
curr_sequences

,sgRNA_guide_name,sgRNA_guide_seq,sgRNA_target_name,study_origin
sgRNA_id,,,,
31259,ALDOA_CHR16_30078215,CTGGCTTGCGCCTTGCCATG,ALDOA,29452643
31260,ALDOA_CHR16_30078641,CCTTGCCAGGTGCCACGATG,ALDOA,29452643
31261,ALDOA_CHR16_30078583,GGTCAGTGCTGGATATTGGT,ALDOA,29452643
31262,ALDOB_CHR9_104188886,ATTACCTCTGGTTCAACAAT,ALDOB,29452643
31263,ALDOB_CHR9_104193156,AATCGGTGGGCCATGGTGAC,ALDOB,29452643
...,...,...,...,...
31410,TPI1_CHR12_6976775,GAACGGGCGGAAGCAGAGTC,TPI1,29452643
31411,TPI1_CHR12_6976836,GAGGGCTTACCGGTGTCGGC,TPI1,29452643
31412,NONTARGETINGCONTROLGUIDEFORHUMAN0654,ACTATCATGGCACCCAATTG,CONTROL,29452643
31413,NONTARGETINGCONTROLGUIDEFORHUMAN0039,AAACGGTACGACAGCGTGTG,CONTROL,29452643
31414,NONTARGETINGCONTROLGUIDEFORHUMAN0095,GCCGTGTTGCTGGATACGCC,CONTROL,29452643

In [38]:
study_name_to_pubmed_id['ito_data']

'34857952'

In [31]:
curr_study = 'ito_data'
curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_sequences = experiment_design.loc[experiment_design['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()

In [32]:
curr_sequences

,sgRNA_guide_name,sgRNA_guide_seq,sgRNA_target_name,study_origin
sgRNA_id,,,,
2199,1-MAR_4,AGATGACCACAAGTGAAAGG,1-MAR,34857952
2200,1-MAR_3,CGCAGTGTCCCAGTGCAGCGA,1-MAR,34857952
2201,1-MAR_2,GATCGACTTGCAGATCGCCCT,1-MAR,34857952
2202,1-MAR_6,GCGAACACCCGAGATCTCAG,1-MAR,34857952
2203,1-MAR_1,TATGGATACTGTACCTTCCGG,1-MAR,34857952
...,...,...,...,...
21900,ZXDC_3,CTCTTACCTCAGCTAGAAGCT,ZXDC,34857952
21901,ZXDC_2,CCCACCTAGGCACAAAGCCGT,ZXDC,34857952
21902,ZXDC_1,CACAGAAGTGACGTCAATAGT,ZXDC,34857952
21903,AAVS1_1,CTGAGCGGATCCTCCCCGTGT,CONTROL,34857952
21904,AAVS1_2,AGGGAGACATCCGTCGGAGA,CONTROL,34857952

In [44]:
for curr_study in study_name_to_pubmed_id.keys():
    print('Working on study: ' + curr_study)
    get_stats_for_study(#curr_study = study_name_to_pubmed_id[curr_study], 
                        curr_sequences = experiment_design.loc[experiment_design['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(), 
                        curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(),
                        curr_calculated_scores = all_scores.loc[all_scores['study_origin'] == int(study_name_to_pubmed_id[curr_study]), :].copy(), 
                        curr_original_scores = scores.loc[scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy())
                        #curr_raw_scores = raw_scores.loc[raw_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy())

Working on study: diehl_data
sgRNA information:
Total available sgRNAs: 1176
sgRNAs that target controls: 188
sgRNAs that target NOT controls: 988
++++++
Counts information:
Total available sgRNAs counts 323551
sgRNA counts that target controls: 2187
sgRNA counts that target single genes: 43236
sgRNA counts that target dual genes: 278128
Total genes with counts 200
++++++
Calculated scores information:
Total calculated SL scores 10720
Total unique number of gene pairs 10720
Total genes with SL scores 200
++++++
Original SL scores information:
Total calculated SL scores 10720
Total unique number of gene pairs 10720
Total genes with SL scores 200
Total SL: 6776
Total Not SL: 3944

> Significance Cutoff (SL Score): -1.0, Statistical Cutoff (Stat): 0.0
cell_line_string

RPE1 (6776 SL)
library string

1176 sgRNAs (188 controls), 200 genes, 10720 gene pairs, 323551 dualsgrnas


---------------


Working on study: han_data
sgRNA information:
No sgRNA information in SLKB
++++++
Counts information:
No counts information in SLKB
++++++
Calculated scores information:
No calculated scores information in SLKB
++++++
Original SL scores information:
Total calculated SL scores 20791
Total unique number of gene pairs 20791
Total genes with SL scores 205
Total SL: 40
Total Not SL: 20751

> Significance Cutoff (SL Score): -4.0, Statistical Cutoff (Stat): 0.0
cell_line_string

K562 (40 SL)
library string

Not available!


---------------


Working on study: horlbeck_data
sgRNA information:
Total available sgRNAs: 1023
sgRNAs that target controls: 18
sgRNAs that target NOT controls: 1005
++++++
Counts information:
Total available sgRNAs counts 2088968
sgRNA counts that target controls: 648
sgRNA counts that target single genes: 76876
sgRNA counts that target dual genes: 2011444
Total genes with counts 472
++++++
Calculated scores information:
Total calculated SL scores 222312
Total unique number of gene pairs 111156
Total genes with SL scores 472
++++++
Original SL scores information:
Total calculated SL scores 175206
Total unique number of gene pairs 103953
Total genes with SL scores 458
Total SL: 1897
Total Not SL: 173309

> Significance Cutoff (SL Score): -3.0, Statistical Cutoff (Stat): 0.0
cell_line_string

K562 (1523 SL), JURKAT (374 SL)
library string

1023 sgRNAs (18 controls), 458 genes, 103953 gene pairs, 2088968 dualsgrnas


---------------


Working on study: ito_data
sgRNA information:
Total available sgRNAs: 19706
sgRNAs that target controls: 2
sgRNAs that target NOT controls: 19704
++++++
Counts information:
Total available sgRNAs counts 1219614
sgRNA counts that target controls: 0
sgRNA counts that target single genes: 216744
sgRNA counts that target dual genes: 1002870
Total genes with counts 3284
++++++
Calculated scores information:
Total calculated SL scores 55715
Total unique number of gene pairs 5065
Total genes with SL scores 3284
++++++
Original SL scores information:
Total calculated SL scores 53449
Total unique number of gene pairs 4859
Total genes with SL scores 3217
Total SL: 6483
Total Not SL: 46966

> Significance Cutoff (SL Score): 0.0, Statistical Cutoff (Stat): 0.05
cell_line_string

PATU8988S (618 SL), HSC5 (705 SL), GI1 (476 SL), HS944T (497 SL), MEWO (435 SL), A549 (594 SL), HS936T (636 SL), PK1 (668 SL), IPC298 (619 SL), MELJUSO (547 SL), MEL202 (688 SL)
library string

19706 sgRNAs (2 controls), 3217 genes, 4859 gene pairs, 1219614 dualsgrnas


---------------


Working on study: parrish_data
sgRNA information:
Total available sgRNAs: 9194
sgRNAs that target controls: 975
sgRNAs that target NOT controls: 8219
++++++
Counts information:
Total available sgRNAs counts 64573
sgRNA counts that target controls: 983
sgRNA counts that target single genes: 31960
sgRNA counts that target dual genes: 31630
Total genes with counts 2060
++++++
Calculated scores information:
Total calculated SL scores 2060
Total unique number of gene pairs 1030
Total genes with SL scores 2060
++++++
Original SL scores information:
Total calculated SL scores 2060
Total unique number of gene pairs 1030
Total genes with SL scores 2060
Total SL: 157
Total Not SL: 1903

> Significance Cutoff (SL Score): -0.5, Statistical Cutoff (Stat): 0.1
cell_line_string

HELA (70 SL), PC9 (87 SL)
library string

9194 sgRNAs (975 controls), 2060 genes, 1030 gene pairs, 64573 dualsgrnas


---------------


Working on study: shen_data
sgRNA information:
Total available sgRNAs: 266
sgRNAs that target controls: 47
sgRNAs that target NOT controls: 219
++++++
Counts information:
Total available sgRNAs counts 74724
sgRNA counts that target controls: 1797
sgRNA counts that target single genes: 1971
sgRNA counts that target dual genes: 70956
Total genes with counts 73
++++++
Calculated scores information:
Total calculated SL scores 7884
Total unique number of gene pairs 2628
Total genes with SL scores 73
++++++
Original SL scores information:
Total calculated SL scores 7884
Total unique number of gene pairs 2628
Total genes with SL scores 73
Total SL: 168
Total Not SL: 7716

> Significance Cutoff (SL Score): -3.0, Statistical Cutoff (Stat): 0.0
cell_line_string

293T (59 SL), HELA (52 SL), A549 (57 SL)
library string

266 sgRNAs (47 controls), 73 genes, 2628 gene pairs, 74724 dualsgrnas


---------------


Working on study: thompson_data
sgRNA information:
No sgRNA information in SLKB
++++++
Counts information:
No counts information in SLKB
++++++
Calculated scores information:
No calculated scores information in SLKB
++++++
Original SL scores information:
Total calculated SL scores 3576
Total unique number of gene pairs 1192
Total genes with SL scores 1682
Total SL: 141
Total Not SL: 3435

> Significance Cutoff (SL Score): 0.0, Statistical Cutoff (Stat): 0.0
cell_line_string

MEWO (40 SL), RPE1 (57 SL), A375 (44 SL)
library string

Not available!


---------------


Working on study: wong_data
sgRNA information:
Total available sgRNAs: 160
sgRNAs that target controls: 3
sgRNAs that target NOT controls: 157
++++++
Counts information:
Total available sgRNAs counts 23409
sgRNA counts that target controls: 9
sgRNA counts that target single genes: 1350
sgRNA counts that target dual genes: 22050
Total genes with counts 50
++++++
Calculated scores information:
Total calculated SL scores 1225
Total unique number of gene pairs 1225
Total genes with SL scores 50
++++++
Original SL scores information:
Total calculated SL scores 1225
Total unique number of gene pairs 1225
Total genes with SL scores 50
Total SL: 52
Total Not SL: 1173

> Significance Cutoff (SL Score): -0.9, Statistical Cutoff (Stat): 0.01
cell_line_string

OVCAR8 (52 SL)
library string

160 sgRNAs (3 controls), 50 genes, 1225 gene pairs, 23409 dualsgrnas


---------------


Working on study: zhao_data
sgRNA information:
Total available sgRNAs: 156
sgRNAs that target controls: 3
sgRNAs that target NOT controls: 153
++++++
Counts information:
Total available sgRNAs counts 23868
sgRNA counts that target controls: 0
sgRNA counts that target single genes: 918
sgRNA counts that target dual genes: 22950
Total genes with counts 51
++++++
Calculated scores information:
Total calculated SL scores 2550
Total unique number of gene pairs 1275
Total genes with SL scores 51
++++++
Original SL scores information:
Total calculated SL scores 2550
Total unique number of gene pairs 1275
Total genes with SL scores 51
Total SL: 56
Total Not SL: 2494

> Significance Cutoff (SL Score): -3.0, Statistical Cutoff (Stat): 0.0
cell_line_string

HELA (27 SL), A549 (29 SL)
library string

156 sgRNAs (3 controls), 51 genes, 1275 gene pairs, 23868 dualsgrnas


---------------


Working on study: shantang_data
sgRNA information:
Total available sgRNAs: 247
sgRNAs that target controls: 25
sgRNAs that target NOT controls: 222
++++++
Counts information:
Total available sgRNAs counts 48931
sgRNA counts that target controls: 614
sgRNA counts that target single genes: 10550
sgRNA counts that target dual genes: 37767
Total genes with counts 50
++++++
Calculated scores information:
Total calculated SL scores 1225
Total unique number of gene pairs 1225
Total genes with SL scores 50
++++++
Original SL scores information:
Total calculated SL scores 1225
Total unique number of gene pairs 1225
Total genes with SL scores 50
Total SL: 274
Total Not SL: 951

> Significance Cutoff (SL Score): -0.361, Statistical Cutoff (Stat): 0.0
cell_line_string

22RV1 (274 SL)
library string

247 sgRNAs (25 controls), 50 genes, 1225 gene pairs, 48931 dualsgrnas


---------------


Working on study: najm_data
sgRNA information:
Total available sgRNAs: 192
sgRNAs that target controls: 42
sgRNAs that target NOT controls: 150
++++++
Counts information:
Total available sgRNAs counts 55296
sgRNA counts that target controls: 2646
sgRNA counts that target single genes: 20250
sgRNA counts that target dual genes: 32400
Total genes with counts 25
++++++
Calculated scores information:
Total calculated SL scores 1800
Total unique number of gene pairs 300
Total genes with SL scores 25
++++++
Original SL scores information:
Total calculated SL scores 1800
Total unique number of gene pairs 300
Total genes with SL scores 25
Total SL: 15
Total Not SL: 1785

> Significance Cutoff (SL Score): 0.01, Statistical Cutoff (Stat): 0.0
cell_line_string

786O (0 SL), OVCAR8 (4 SL), A549 (2 SL), HT29 (3 SL), A375 (2 SL), MELJUSO (4 SL)
library string

192 sgRNAs (42 controls), 25 genes, 300 gene pairs, 55296 dualsgrnas


---------------

In [60]:
all_scores.loc[all_scores['study_origin'] == int(study_name_to_pubmed_id[curr_study]), :]

,Unnamed: 0,gene_pair,gene_1,gene_2,study_origin,cell_line_origin,GEMINI_SCORE_SL_score_SensitiveLethality,GEMINI_SCORE_SL_score_SensitiveRecovery,GEMINI_SCORE_SL_score_Strong,HORLBECK_SCORE_SL_score,...,MAGECK_SCORE_Z_SL_score,MAGECK_SCORE_standard_error,MEDIAN_B_SCORE_SL_score,MEDIAN_B_SCORE_Z_SL_score,MEDIAN_B_SCORE_standard_error,MEDIAN_NB_SCORE_SL_score,MEDIAN_NB_SCORE_Z_SL_score,MEDIAN_NB_SCORE_standard_error,SGRA_DERIVED_B_SCORE_SL_score,SGRA_DERIVED_NB_SCORE_SL_score
233032,233032,MAP2K2|UBC,MAP2K2,UBC,29251726,MELJUSO,-0.239090,NaN,-0.239090,0.623832,...,0.604634,0.360184,0.412195,1.350671,0.305178,0.108353,0.355047,0.305178,-1.259917,-2.943148
233033,233033,HSP90AA1|MAP2K2,HSP90AA1,MAP2K2,29251726,MELJUSO,-0.172742,NaN,-0.172742,0.741339,...,0.173500,0.282354,0.254966,1.079171,0.236261,-0.048877,-0.206878,0.236261,-2.655281,-4.109984
233034,233034,CHEK2|MAP2K2,CHEK2,MAP2K2,29251726,MELJUSO,-0.470037,NaN,-0.470037,0.928656,...,-0.491578,0.262249,0.072208,0.328007,0.220141,-0.231635,-1.052214,0.220141,-6.266544,-8.049425
233035,233035,AKT1|MAP2K2,AKT1,MAP2K2,29251726,MELJUSO,-0.214653,NaN,-0.214653,0.726899,...,-0.341375,0.274921,0.110260,0.475562,0.231853,-0.193582,-0.834934,0.231853,-4.945993,-6.667856
233036,233036,IMPDH1|MAP2K2,IMPDH1,MAP2K2,29251726,MELJUSO,-0.211638,NaN,-0.211638,0.592717,...,0.479081,0.264766,0.322376,1.444738,0.223138,0.018534,0.083059,0.223138,-5.152705,-6.957698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234827,234827,BCL2|BCL2L10,BCL2,BCL2L10,29251726,OVCAR8,-0.777320,NaN,-0.777320,0.805419,...,-0.328966,0.289267,0.067750,0.285193,0.237559,-0.234907,-0.988834,0.237559,-5.539947,-7.972670
234828,234828,BCL2|BCL2A1,BCL2,BCL2A1,29251726,OVCAR8,-0.800379,NaN,-0.800379,0.958102,...,-0.376430,0.265724,0.074064,0.339854,0.217929,-0.228593,-1.048931,0.217929,-3.171993,-5.437313
234829,234829,BCL2A1|UBC,BCL2A1,UBC,29251726,OVCAR8,-0.413650,NaN,-0.413650,0.584406,...,0.948993,0.299806,0.465808,1.895416,0.245755,0.163151,0.663877,0.245755,-2.040287,-4.029737
234830,234830,BCL2A1|BCL2L10,BCL2A1,BCL2L10,29251726,OVCAR8,-0.454286,NaN,-0.454286,0.732661,...,0.447263,0.252878,0.260566,1.285797,0.202649,-0.042091,-0.207702,0.202649,-3.628936,-5.334883
234831,234831,BCL2L10|UBC,BCL2L10,UBC,29251726,OVCAR8,-0.500953,NaN,-0.464796,0.830670,...,1.468811,0.302609,0.621301,2.547863,0.243852,0.318645,1.306713,0.243852,-1.377191,-3.420906

In [58]:
study_name_to_pubmed_id

{'diehl_data': '33956155',
 'han_data': '28319085',
 'horlbeck_data': '30033366',
 'ito_data': '34857952',
 'parrish_data': '34469736',
 'shen_data': '28319113',
 'thompson_data': '33637726',
 'wong_data': '26864203',
 'zhao_data': '29452643',
 'shantang_data': '36060092',
 'najm_data': '29251726'}

In [57]:
curr_study

'najm_data'

In [55]:
all_scores

,Unnamed: 0,gene_pair,gene_1,gene_2,study_origin,cell_line_origin,GEMINI_SCORE_SL_score_SensitiveLethality,GEMINI_SCORE_SL_score_SensitiveRecovery,GEMINI_SCORE_SL_score_Strong,HORLBECK_SCORE_SL_score,...,MAGECK_SCORE_Z_SL_score,MAGECK_SCORE_standard_error,MEDIAN_B_SCORE_SL_score,MEDIAN_B_SCORE_Z_SL_score,MEDIAN_B_SCORE_standard_error,MEDIAN_NB_SCORE_SL_score,MEDIAN_NB_SCORE_Z_SL_score,MEDIAN_NB_SCORE_standard_error,SGRA_DERIVED_B_SCORE_SL_score,SGRA_DERIVED_NB_SCORE_SL_score
0,0,AKT1|AMBRA1,AKT1,AMBRA1,33956155,RPE1,NaN,1.901398,-1.457454,-0.178004,...,1.683856,0.600022,0.780423,2.614573,0.298490,1.035966,3.470691,0.298490,2.981263,2.813702
1,1,AKT1|ATG10,AKT1,ATG10,33956155,RPE1,NaN,4.973365,-4.339744,-0.215414,...,4.267072,0.294663,0.446131,2.169452,0.205642,0.701674,3.412108,0.205642,2.859691,2.714971
2,2,AKT1|ATG101,AKT1,ATG101,33956155,RPE1,NaN,4.020508,-2.912154,0.141539,...,2.126466,0.745980,1.240603,2.667042,0.465161,1.496145,3.216406,0.465161,3.582877,3.462986
3,3,AKT1|ATG12,AKT1,ATG12,33956155,RPE1,NaN,3.665702,-3.021675,-0.168705,...,2.028864,0.821273,0.899307,1.909342,0.471003,1.154849,2.451892,0.471003,2.169773,2.025237
4,4,AKT1|ATG13,AKT1,ATG13,33956155,RPE1,NaN,3.160677,-2.216132,0.193127,...,3.181299,0.521705,0.826477,2.378947,0.347413,1.082020,3.114506,0.347413,1.502438,1.395536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241887,241887,RPIA|TKT,RPIA,TKT,29452643,HELA,-0.13407,NaN,-0.134070,-0.074928,...,-2.293561,0.639150,NaN,NaN,NaN,-0.311912,-0.526281,0.592671,NaN,-0.141378
241888,241888,RPIA|TPI1,RPIA,TPI1,29452643,HELA,NaN,0.023390,-0.448128,-0.028457,...,-1.316672,0.678460,NaN,NaN,NaN,0.318737,0.612123,0.520708,NaN,0.716199
241889,241889,TALDO1|TPI1,TALDO1,TPI1,29452643,HELA,NaN,0.263150,-0.366839,-0.067253,...,-1.482102,0.822919,NaN,NaN,NaN,0.195485,0.343784,0.568628,NaN,-0.404442
241890,241890,TALDO1|TKT,TALDO1,TKT,29452643,HELA,-0.48439,NaN,-0.404770,-0.010693,...,-1.870724,0.706908,NaN,NaN,NaN,0.260096,0.410191,0.634084,NaN,0.634473
241891,241891,TKT|TPI1,TKT,TPI1,29452643,HELA,NaN,-0.027188,-0.197804,-0.028242,...,-1.127673,1.225302,NaN,NaN,NaN,0.041257,0.043096,0.957322,NaN,-0.324657

In [134]:
curr_raw_scores

,gene_1,gene_2,study_origin,cell_line_origin,SL_score,SL_score_cutoff,statistical_score,statistical_score_cutoff,gene_pair,SL_or_not
284131,ALDOA,ALDOB,29452643,A549,0.169437,-3.0,0.761518,0.0,ALDOA_ALDOB,Not SL
284132,ALDOA,ALDOC,29452643,A549,-2.418505,-3.0,0.205590,0.0,ALDOA_ALDOC,Not SL
284133,ALDOA,DLAT,29452643,A549,-2.947731,-3.0,0.178348,0.0,ALDOA_DLAT,Not SL
284134,ALDOA,DLD,29452643,A549,-2.719313,-3.0,0.184315,0.0,ALDOA_DLD,Not SL
284135,ALDOA,ENO1,29452643,A549,-2.028083,-3.0,0.251583,0.0,ALDOA_ENO1,Not SL
...,...,...,...,...,...,...,...,...,...,...
286676,RPIA,TKT,29452643,HELA,-1.324924,-3.0,0.402030,0.0,RPIA_TKT,Not SL
286677,RPIA,TPI1,29452643,HELA,-0.918003,-3.0,0.479355,0.0,RPIA_TPI1,Not SL
286678,TALDO1,TKT,29452643,HELA,-0.178284,-3.0,0.689172,0.0,TALDO1_TKT,Not SL
286679,TALDO1,TPI1,29452643,HELA,-1.373376,-3.0,0.401973,0.0,TALDO1_TPI1,Not SL
286680,TKT,TPI1,29452643,HELA,0.246129,-3.0,0.800446,0.0,TKT_TPI1,Not SL

In [135]:
#curr_raw_scores
(curr_raw_scores['statistical_score_cutoff'].iloc[0] != 0) and (curr_raw_scores['SL_score_cutoff'].iloc[0] != 0)

False

In [137]:
curr_raw_scores['statistical_score_cutoff'].iloc[0] != 0

False

In [138]:
(curr_raw_scores['SL_score_cutoff'].iloc[0] != 0)

True

In [93]:
curr_raw_scores = raw_scores.loc[raw_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()

In [96]:
(curr_raw_scores['gene_1'] != curr_raw_scores['gene_2']).sum()

284131    False
284132    False
284133    False
284134    False
284135    False
          ...
286676    False
286677    False
286678    False
286679    False
286680    False
Length: 2550, dtype: bool

In [45]:
study_name_to_pubmed_id[curr_study]

'29452643'

In [37]:
for curr_study in available_studies:
    print('Working on study: ' + curr_study)

Working on study: diehl_data
Working on study: horlbeck_data
Working on study: najm_data
Working on study: parrish_data
Working on study: shantang_data
Working on study: wong_data
Working on study: zhao_data

In [72]:
curr_sequences = experiment_design.loc[experiment_design['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_calculated_scores = all_scores.loc[all_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_original_scores = scores.loc[scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()
curr_raw_scores = raw_scores.loc[raw_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy()

In [75]:
(curr_sequences['sgRNA_target_name'] == 'CONTROL').sum()

3

In [ ]:
get_stats_for_study(#curr_study = study_name_to_pubmed_id[curr_study], 
                    curr_sequences = experiment_design.loc[experiment_design['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(), 
                    curr_counts = counts.loc[counts['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(),
                    curr_calculated_scores = all_scores.loc[all_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(), 
                    curr_original_scores = scores.loc[scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy(),
                    curr_raw_scores = raw_scores.loc[raw_scores['study_origin'] == study_name_to_pubmed_id[curr_study], :].copy())

In [44]:
scores

,id,gene_pair,study_origin,cell_line_origin,gene_1,gene_2,SL_or_not,SL_score,statistical_score,SL_score_cutoff,statistical_score_cutoff
gene_pair_id,,,,,,,,,,,
0.0,0,AKT1_AMBRA1,33956155,RPE1,AKT1,AMBRA1,1,-0.010982,0.0,-1.00,0.0
91.0,1,AKT3_AMBRA1,33956155,RPE1,AKT3,AMBRA1,1,2.159344,0.0,-1.00,0.0
183.0,2,AMBRA1_ARF6,33956155,RPE1,ARF6,AMBRA1,1,-0.564699,0.0,-1.00,0.0
184.0,3,AMBRA1_ATF4,33956155,RPE1,ATF4,AMBRA1,1,0.999030,0.0,-1.00,0.0
185.0,4,AMBRA1_ATG10,33956155,RPE1,ATG10,AMBRA1,1,3.916281,0.0,-1.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
303415.0,279291,UBB_UBC,29251726,HT29,UBB,UBC,1,1.000000,0.0,0.01,0.0
303413.0,279292,UBB_UBC,29251726,A375,UBB,UBC,1,0.938604,0.0,0.01,0.0
303412.0,279293,UBB_UBC,29251726,786O,UBB,UBC,1,1.000000,0.0,0.01,0.0
303417.0,279294,UBB_UBC,29251726,OVCAR8,UBB,UBC,1,0.967425,0.0,0.01,0.0
303414.0,279295,UBB_UBC,29251726,A549,UBB,UBC,1,0.784245,0.0,0.01,0.0

In [41]:
all_scores

,gene_pair,gene_1,gene_2,study_origin,cell_line_origin,GEMINI_SCORE_SL_score,HORLBECK_SCORE_SL_score,HORLBECK_SCORE_standard_error,MAGECK_SCORE_SL_score,MAGECK_SCORE_Z_SL_score,MAGECK_SCORE_standard_error,MEDIAN_B_SCORE_SL_score,MEDIAN_B_SCORE_Z_SL_score,MEDIAN_B_SCORE_standard_error,MEDIAN_NB_SCORE_SL_score,MEDIAN_NB_SCORE_Z_SL_score,MEDIAN_NB_SCORE_standard_error,SGRA_DERIVED_B_SCORE_SL_score,SGRA_DERIVED_NB_SCORE_SL_score
0,AKT1|AMBRA1,AKT1,AMBRA1,33956155,RPE1,-1.457454,-0.178004,0.155417,1.01035,1.683856,0.600022,0.780423,2.614573,0.298490,1.035966,3.470691,0.298490,2.981263,2.813702
1,AKT1|ATG10,AKT1,ATG10,33956155,RPE1,-4.339744,-0.215414,0.083963,1.25735,4.267072,0.294663,0.446131,2.169452,0.205642,0.701674,3.412108,0.205642,2.859691,2.714971
2,AKT1|ATG101,AKT1,ATG101,33956155,RPE1,-2.912154,0.141539,0.160130,1.58630,2.126466,0.745980,1.240603,2.667042,0.465161,1.496145,3.216406,0.465161,3.582877,3.462986
3,AKT1|ATG12,AKT1,ATG12,33956155,RPE1,-3.021675,-0.168705,0.176245,1.66625,2.028864,0.821273,0.899307,1.909342,0.471003,1.154849,2.451892,0.471003,2.169773,2.025237
4,AKT1|ATG13,AKT1,ATG13,33956155,RPE1,-2.216132,0.193127,0.220762,1.65970,3.181299,0.521705,0.826477,2.378947,0.347413,1.082020,3.114506,0.347413,1.502438,1.395536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241887,RPIA|TKT,RPIA,TKT,29452643,HELA,-0.134070,-0.074928,0.031160,-1.46593,-2.293561,0.639150,NaN,NaN,NaN,-0.311912,-0.526281,0.592671,NaN,-0.141378
241888,RPIA|TPI1,RPIA,TPI1,29452643,HELA,-0.448128,-0.028457,0.025095,-0.89331,-1.316672,0.678460,NaN,NaN,NaN,0.318737,0.612123,0.520708,NaN,0.716199
241889,TALDO1|TPI1,TALDO1,TPI1,29452643,HELA,-0.366839,-0.067253,0.017028,-1.21965,-1.482102,0.822919,NaN,NaN,NaN,0.195485,0.343784,0.568628,NaN,-0.404442
241890,TALDO1|TKT,TALDO1,TKT,29452643,HELA,-0.404770,-0.010693,0.046912,-1.32243,-1.870724,0.706908,NaN,NaN,NaN,0.260096,0.410191,0.634084,NaN,0.634473
241891,TKT|TPI1,TKT,TPI1,29452643,HELA,-0.197804,-0.028242,0.046620,-1.38174,-1.127673,1.225302,NaN,NaN,NaN,0.041257,0.043096,0.957322,NaN,-0.324657

In [38]:
print('Accessing stats for ' + curr_study)

Accessing stats for zhao_data

In [35]:
experiment_design

,sgRNA_guide_name,sgRNA_guide_seq,sgRNA_target_name,study_origin
sgRNA_id,,,,
1,H7SK-1N,CCAGCATAGCTCTTAAACCAGTGATGATNACTGAGGCTCAGTTAGA...,H7SK,33956155
2,H7SK-2N,CCAGCATAGCTCTTAAACCAGTGATGATNNCTGAGGCTCAGTTAGA...,H7SK,33956155
3,H7SK-3N,CCAGCATAGCTCTTAAACCAGTGATGANNNCTGAGGCTCAGTTAGA...,H7SK,33956155
4,H7SK-4N,CCAGCATAGCTCTTAAACCAGTGATGANNNNTGAGGCTCAGTTAGA...,H7SK,33956155
5,HU6-1N,GCTATTTCTAGCTCTAAAACCAGTGATGATNACTGAGGCTCGTTTC...,HU6,33956155
...,...,...,...,...
12144,AKT1_6,TGTCATGGAGTACGCCAACG,AKT1,29251726
12145,BCL2_6,TGTCGCAGAGGGGCTACGAG,BCL2,29251726
12146,BCL2L10_6,TGTTGCTGGCCGACTACCTG,BCL2L10,29251726
12147,UBB_5,TGTTGTAGTCAGAAAGAGTA,UBB,29251726
12148,UBB_6,TTCTGACTACAACATCCAGA,UBB,29251726

In [36]:
counts

,guide_1_id,guide_2_id,gene_pair_id,gene_pair_orientation,T0_counts,T0_replicate_names,TEnd_counts,TEnd_replicate_names,target_type,study_origin,...,SL_score,statistical_score,SL_score_cutoff,statistical_score_cutoff,sgRNA_guide_name_g1,sgRNA_guide_seq_g1,sgRNA_target_name_g1,sgRNA_guide_name_g2,sgRNA_guide_seq_g2,sgRNA_target_name_g2
sgRNA_pair_id,,,,,,,,,,,,,,,,,,,,,
0,268,276,0,A_B,906.0;869.0,ctrl_1;ctrl_2,6.0;195.0;0.0,rep_1;rep_2;rep_3,Dual,33956155,...,-0.010982,0.0,-1.00,0.0,AKT1-KO-1-R,ACGTGAGGCTCCCCTCAACA,AKT1,AMBRA1-KO-1-R,TTCTAGGTATCACCGAGAAA,AMBRA1
1,268,277,0,A_B,1140.0;1069.0,ctrl_1;ctrl_2,3.0;5.0;0.0,rep_1;rep_2;rep_3,Dual,33956155,...,-0.010982,0.0,-1.00,0.0,AKT1-KO-1-R,ACGTGAGGCTCCCCTCAACA,AKT1,AMBRA1-KO-2-R,TGAGAGATACTGGATCATCC,AMBRA1
2,268,278,0,A_B,703.0;583.0,ctrl_1;ctrl_2,14.0;13.0;19.0,rep_1;rep_2;rep_3,Dual,33956155,...,-0.010982,0.0,-1.00,0.0,AKT1-KO-1-R,ACGTGAGGCTCCCCTCAACA,AKT1,AMBRA1-KO-3-R,CTTGGCAGGTCCCCAGCTCC,AMBRA1
3,268,279,0,A_B,698.0;656.0,ctrl_1;ctrl_2,25.0;19.0;21.0,rep_1;rep_2;rep_3,Dual,33956155,...,-0.010982,0.0,-1.00,0.0,AKT1-KO-1-R,ACGTGAGGCTCCCCTCAACA,AKT1,AMBRA1-KO-4-R,CCGTAATATAGATATTATGG,AMBRA1
4,268,288,1,A_B,721.0;660.0,ctrl_1;ctrl_2,161.0;75.0;21.0,rep_1;rep_2;rep_3,Dual,33956155,...,2.470796,0.0,-1.00,0.0,AKT1-KO-1-R,ACGTGAGGCTCCCCTCAACA,AKT1,ATG10-KO-1-R,ACGTTATTGTGCAGAATTCA,ATG10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553231,12147,12048,303393,B_A,431.0,pDNA_Reads,140.0;93.0;291.0,Rep_A_Reads;Rep_B_Reads;Rep_C_Reads,Dual,29251726,...,0.404221,0.0,0.01,0.0,UBB_6,TTCTGACTACAACATCCAGA,UBB,PARP2_3,TTGCTTTCATTTAATGCTACA,PARP2
2553232,12147,12049,303033,B_A,399.0,pDNA_Reads,185.0;270.0;418.0,Rep_A_Reads;Rep_B_Reads;Rep_C_Reads,Dual,29251726,...,0.566849,0.0,0.01,0.0,UBB_6,TTCTGACTACAACATCCAGA,UBB,IMPDH1_3,TTGGGACGAGTCCTGTGAGAA,IMPDH1
2553233,12147,12050,302883,B_A,496.0,pDNA_Reads,215.0;208.0;337.0,Rep_A_Reads;Rep_B_Reads;Rep_C_Reads,Single,29251726,...,NaN,NaN,NaN,NaN,UBB_6,TTCTGACTACAACATCCAGA,UBB,HPRT INTRON_6,TTTAGGAATTGCTGTTGGGAC,CONTROL
2553234,12147,12051,301623,B_A,548.0,pDNA_Reads,178.0;186.0;486.0,Rep_A_Reads;Rep_B_Reads;Rep_C_Reads,Dual,29251726,...,0.192682,0.0,0.01,0.0,UBB_6,TTCTGACTACAACATCCAGA,UBB,BCL2A1_3,TTTCCATCACTTGGTTGAATA,BCL2A1
2553235,12147,12052,302511,B_A,317.0,pDNA_Reads,145.0;96.0;244.0,Rep_A_Reads;Rep_B_Reads;Rep_C_Reads,Single,29251726,...,NaN,NaN,NaN,NaN,UBB_6,TTCTGACTACAACATCCAGA,UBB,CD81_10,TTTGCCTGTGAGGTGGCCGCC,CONTROL

In [ ]:
print('Accessing stats for ' + curr_study)

In [18]:
SLKB_raw_score = pd.read_csv('SLKB_original_raw_reported_SL.csv')
SLKB_raw_score = SLKB_raw_score.loc[SLKB_raw_score['SL_or_not'] == 'SL',:]

In [19]:
def get_n_hop_interactions(curr_scores, n = 2):
    # first, create gene target dict
    first_target_list = {}

    for gene in set(curr_scores['gene_1'].tolist() + curr_scores['gene_2'].tolist()):
        targets = curr_scores.loc[curr_scores['gene_1'] == gene, 'gene_2'].tolist() + curr_scores.loc[curr_scores['gene_2'] == gene, 'gene_1'].tolist()
        first_target_list[gene] = list(set(targets))

    n_hop_targets = copy.deepcopy(first_target_list)
    # create n hop
    if n > 1:
        for i in range(n-1):
            print('Hop: ' + str(i+1))
            new_target_list = copy.deepcopy(n_hop_targets)
            # start node
            for gene in first_target_list:
                # next hop interactions
                new_targets = new_target_list[gene]
                for hops in new_targets.copy():
                    new_targets += first_target_list[hops]

                # make it a set
                new_targets = set(new_targets)
                if gene in new_targets:
                    new_targets.remove(gene)
                new_target_list[gene] = list(new_targets)

            n_hop_targets = copy.deepcopy(new_target_list)
        for gene in first_target_list:
            first_target_list[gene] = set(first_target_list[gene])
        for gene in n_hop_targets:
            n_hop_targets[gene] = set(n_hop_targets[gene])
            
        return((first_target_list, n_hop_targets))
    else:
        print('No hops!')
        for gene in first_target_list:
            first_target_list[gene] = set(first_target_list[gene])
        return((first_target_list, _))

In [24]:
def average_interactions(target_dict):
    total_interactions = 0
    for gene in target_dict:
        total_interactions += len(target_dict[gene])
    total_interactions = total_interactions/len(target_dict.keys())
    print('Average interactions per gene: ' + str(total_interactions))
    return(total_interactions)
    
def intersect_two_targets(target_dict):
    interactions = pd.DataFrame(0, index = sorted(target_dict.keys()), columns = sorted(target_dict.keys()))

    for row in range(len(interactions.index)):
        for col in range(len(interactions.columns)):
            if row <= col:
                continue
            row_gene = interactions.index[row]
            col_gene = interactions.columns[col]
            interactions.loc[row_gene, col_gene] = len(target_dict[row_gene].intersection(target_dict[col_gene]))

    total_sum = interactions.sum(axis = 0).sum()
    average_intersecting_interactions = total_sum/(((interactions.shape[0] ** 2) - interactions.shape[0])/2)
    print('Average intersections between two genes: ' + str(average_intersecting_interactions))
    return(average_intersecting_interactions)
    
def analyze_n_hop(initial_pairs, n_hops):
    
    results = {}
    
    # print the average number of interactions (from one gene)
    print('Initial interactions:')
    res1 = average_interactions(initial_pairs)
    print('N hop interactions interactions:')
    res2 = average_interactions(n_hops)
    
    # print the average number of intersecting interactions (between two genes)
    print('Initial interactions:')
    intersect_two_targets(initial_pairs)
    print('N hop interactions interactions:')
    intersect_two_targets(n_hops)
    
    return([res1, res2])

In [23]:
res1

NameError: name 'res1' is not defined

In [25]:
average_i = 0
average_hop = 0
count_i = 0
for study in set(SLKB_raw_score['study_origin']):
    print(study)
    curr_subset = SLKB_raw_score.loc[SLKB_raw_score['study_origin'] == study,:]
    for cell_line in set(curr_subset['cell_line_origin']):
        print(cell_line)
        curr_scores = curr_subset.loc[curr_subset['cell_line_origin'] == cell_line,:]
        initial_pairs, n_hops = get_n_hop_interactions(curr_scores, n = 2)
        res1, res2 = analyze_n_hop(initial_pairs, n_hops)
        average_i += res1
        average_hop += res2
        count_i += 1
        print('-----')
    print('+++++')

34857952
MELJUSO
Hop: 1
Initial interactions:
Average interactions per gene: 1.9919517102615694
N hop interactions interactions:
Average interactions per gene: 4.140845070422535
Initial interactions:
Average intersections between two genes: 0.013922243136236776
N hop interactions interactions:
Average intersections between two genes: 0.0598023625624716
-----
HS944T
Hop: 1
Initial interactions:
Average interactions per gene: 1.9951338199513382
N hop interactions interactions:
Average interactions per gene: 3.9854014598540144
Initial interactions:
Average intersections between two genes: 0.016153344015191976
N hop interactions interactions:
Average intersections between two genes: 0.07207880837932466
-----
HS936T
Hop: 1
Initial interactions:
Average interactions per gene: 1.6563706563706564
N hop interactions interactions:
Average interactions per gene: 3.0617760617760617
Initial interactions:
Average intersections between two genes: 0.006698879039304571
N hop interactions interactions:
Average intersections between two genes: 0.032657968828181595
-----
A549
Hop: 1
Initial interactions:
Average interactions per gene: 1.9536679536679538
N hop interactions interactions:
Average interactions per gene: 4.223938223938224
Initial interactions:
Average intersections between two genes: 0.009312711440371015
N hop interactions interactions:
Average intersections between two genes: 0.04801236716130333
-----
GI1
Hop: 1
Initial interactions:
Average interactions per gene: 1.5330188679245282
N hop interactions interactions:
Average interactions per gene: 2.8207547169811322
Initial interactions:
Average intersections between two genes: 0.005163031357330835
N hop interactions interactions:
Average intersections between two genes: 0.02696373611668674
-----
PK1
Hop: 1
Initial interactions:
Average interactions per gene: 1.723021582733813
N hop interactions interactions:
Average interactions per gene: 3.579136690647482
Initial interactions:
Average intersections between two genes: 0.007058137273964612
N hop interactions interactions:
Average intersections between two genes: 0.04308769200855532
-----
MEWO
Hop: 1
Initial interactions:
Average interactions per gene: 2.4183381088825215
N hop interactions interactions:
Average interactions per gene: 5.163323782234957
Initial interactions:
Average intersections between two genes: 0.02944373085663472
N hop interactions interactions:
Average intersections between two genes: 0.1242795507690281
-----
PATU8988S
Hop: 1
Initial interactions:
Average interactions per gene: 2.1991869918699187
N hop interactions interactions:
Average interactions per gene: 4.475609756097561
Initial interactions:
Average intersections between two genes: 0.01784147169373934
N hop interactions interactions:
Average intersections between two genes: 0.07282300928915603
-----
IPC298
Hop: 1
Initial interactions:
Average interactions per gene: 2.0195121951219512
N hop interactions interactions:
Average interactions per gene: 3.902439024390244
Initial interactions:
Average intersections between two genes: 0.014657999880732304
N hop interactions interactions:
Average intersections between two genes: 0.06609815731409148
-----
HSC5
Hop: 1
Initial interactions:
Average interactions per gene: 2.186046511627907
N hop interactions interactions:
Average interactions per gene: 4.337209302325581
Initial interactions:
Average intersections between two genes: 0.015180251373522993
N hop interactions interactions:
Average intersections between two genes: 0.060976894709114174
-----
MEL202
Hop: 1
Initial interactions:
Average interactions per gene: 2.5311203319502074
N hop interactions interactions:
Average interactions per gene: 4.975103734439834
Initial interactions:
Average intersections between two genes: 0.025060170288386054
N hop interactions interactions:
Average intersections between two genes: 0.08339300040544854
-----
+++++
29452643
HELA
Hop: 1
Initial interactions:
Average interactions per gene: 1.9090909090909092
N hop interactions interactions:
Average interactions per gene: 5.181818181818182
Initial interactions:
Average intersections between two genes: 0.1645021645021645
N hop interactions interactions:
Average intersections between two genes: 1.4372294372294372
-----
A549
Hop: 1
Initial interactions:
Average interactions per gene: 1.7272727272727273
N hop interactions interactions:
Average interactions per gene: 4.2727272727272725
Initial interactions:
Average intersections between two genes: 0.12121212121212122
N hop interactions interactions:
Average intersections between two genes: 0.9913419913419913
-----
+++++
34469736
PC9
Hop: 1
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
HELA
Hop: 1
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
+++++
28319113
HELA
Hop: 1
Initial interactions:
Average interactions per gene: 2.1666666666666665
N hop interactions interactions:
Average interactions per gene: 12.25
Initial interactions:
Average intersections between two genes: 0.2402482269503546
N hop interactions interactions:
Average intersections between two genes: 4.6436170212765955
-----
293T
Hop: 1
Initial interactions:
Average interactions per gene: 2.744186046511628
N hop interactions interactions:
Average interactions per gene: 10.55813953488372
Initial interactions:
Average intersections between two genes: 0.2115171650055371
N hop interactions interactions:
Average intersections between two genes: 3.1196013289036544
-----
A549
Hop: 1
Initial interactions:
Average interactions per gene: 2.4782608695652173
N hop interactions interactions:
Average interactions per gene: 13.782608695652174
Initial interactions:
Average intersections between two genes: 0.2821256038647343
N hop interactions interactions:
Average intersections between two genes: 6.011594202898551
-----
+++++
26864203
OVCAR8
Hop: 1
Initial interactions:
Average interactions per gene: 3.242424242424242
N hop interactions interactions:
Average interactions per gene: 16.545454545454547
Initial interactions:
Average intersections between two genes: 0.6609848484848485
N hop interactions interactions:
Average intersections between two genes: 9.708333333333334
-----
+++++
28319085
K562
Hop: 1
Initial interactions:
Average interactions per gene: 1.4727272727272727
N hop interactions interactions:
Average interactions per gene: 2.8
Initial interactions:
Average intersections between two genes: 0.026936026936026935
N hop interactions interactions:
Average intersections between two genes: 0.15353535353535352
-----
+++++
29251726
MELJUSO
Hop: 1
Initial interactions:
Average interactions per gene: 1.3333333333333333
N hop interactions interactions:
Average interactions per gene: 2.3333333333333335
Initial interactions:
Average intersections between two genes: 0.2
N hop interactions interactions:
Average intersections between two genes: 0.8
-----
A549
Hop: 1
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
A375
Hop: 1
Initial interactions:
Average interactions per gene: 1.3333333333333333
N hop interactions interactions:
Average interactions per gene: 2.0
Initial interactions:
Average intersections between two genes: 0.3333333333333333
N hop interactions interactions:
Average intersections between two genes: 1.0
-----
OVCAR8
Hop: 1
Initial interactions:
Average interactions per gene: 1.1428571428571428
N hop interactions interactions:
Average interactions per gene: 1.4285714285714286
Initial interactions:
Average intersections between two genes: 0.047619047619047616
N hop interactions interactions:
Average intersections between two genes: 0.14285714285714285
-----
HT29
Hop: 1
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
+++++
30033366
K562
Hop: 1
Initial interactions:
Average interactions per gene: 7.845588235294118
N hop interactions interactions:
Average interactions per gene: 93.44117647058823
Initial interactions:
Average intersections between two genes: 0.3392590451413981
N hop interactions interactions:
Average intersections between two genes: 30.96536108300814
-----
JURKAT
Hop: 1
Initial interactions:
Average interactions per gene: 3.312
N hop interactions interactions:
Average interactions per gene: 22.144
Initial interactions:
Average intersections between two genes: 0.10184738955823293
N hop interactions interactions:
Average intersections between two genes: 4.051951807228916
-----
+++++
33956155
RPE1
Hop: 1
Initial interactions:
Average interactions per gene: 71.74226804123711
N hop interactions interactions:
Average interactions per gene: 192.77319587628867
Initial interactions:
Average intersections between two genes: 41.80027776294001
N hop interactions interactions:
Average intersections between two genes: 191.55680786282784
-----
+++++
36060092
22RV1
Hop: 1
Initial interactions:
Average interactions per gene: 13.363636363636363
N hop interactions interactions:
Average interactions per gene: 41.86363636363637
Initial interactions:
Average intersections between two genes: 4.6839323467230445
N hop interactions interactions:
Average intersections between two genes: 39.85200845665962
-----
+++++
33637726
A375
Hop: 1
Initial interactions:
Average interactions per gene: 1.0232558139534884
N hop interactions interactions:
Average interactions per gene: 1.069767441860465
Initial interactions:
Average intersections between two genes: 0.0005471956224350205
N hop interactions interactions:
Average intersections between two genes: 0.0016415868673050615
-----
RPE
Hop: 1
Initial interactions:
Average interactions per gene: 1.0654205607476634
N hop interactions interactions:
Average interactions per gene: 1.1775700934579438
Initial interactions:
Average intersections between two genes: 0.0014106859460412625
N hop interactions interactions:
Average intersections between two genes: 0.004761065067889261
-----
MEWO
Hop: 1
Initial interactions:
Average interactions per gene: 1.1594202898550725
N hop interactions interactions:
Average interactions per gene: 1.7681159420289856
Initial interactions:
Average intersections between two genes: 0.008951406649616368
N hop interactions interactions:
Average intersections between two genes: 0.0494458653026428
-----
+++++

In [28]:
average_i/count_i

4.539659705589646

In [29]:
average_hop/count_i

14.814239156356528

In [30]:
average_i = 0
average_hop = 0
count_i = 0
for study in set(SLKB_raw_score['study_origin']):
    print(study)
    curr_subset = SLKB_raw_score.loc[SLKB_raw_score['study_origin'] == study,:]
    for cell_line in set(curr_subset['cell_line_origin']):
        print(cell_line)
        curr_scores = curr_subset.loc[curr_subset['cell_line_origin'] == cell_line,:]
        initial_pairs, n_hops = get_n_hop_interactions(curr_scores, n = 3)
        res1, res2 = analyze_n_hop(initial_pairs, n_hops)
        average_i += res1
        average_hop += res2
        count_i += 1
        print('-----')
    print('+++++')

34857952
MELJUSO
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.9919517102615694
N hop interactions interactions:
Average interactions per gene: 4.277665995975855
Initial interactions:
Average intersections between two genes: 0.013922243136236776
N hop interactions interactions:
Average intersections between two genes: 0.06441877068864801
-----
HS944T
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.9951338199513382
N hop interactions interactions:
Average interactions per gene: 4.1654501216545015
Initial interactions:
Average intersections between two genes: 0.016153344015191976
N hop interactions interactions:
Average intersections between two genes: 0.07725357545546259
-----
HS936T
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.6563706563706564
N hop interactions interactions:
Average interactions per gene: 3.413127413127413
Initial interactions:
Average intersections between two genes: 0.006698879039304571
N hop interactions interactions:
Average intersections between two genes: 0.042179786860637926
-----
A549
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.9536679536679538
N hop interactions interactions:
Average interactions per gene: 4.513513513513513
Initial interactions:
Average intersections between two genes: 0.009312711440371015
N hop interactions interactions:
Average intersections between two genes: 0.056451311770460706
-----
GI1
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.5330188679245282
N hop interactions interactions:
Average interactions per gene: 3.0235849056603774
Initial interactions:
Average intersections between two genes: 0.005163031357330835
N hop interactions interactions:
Average intersections between two genes: 0.03233864133101387
-----
PK1
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.723021582733813
N hop interactions interactions:
Average interactions per gene: 3.8920863309352516
Initial interactions:
Average intersections between two genes: 0.007058137273964612
N hop interactions interactions:
Average intersections between two genes: 0.050489338259122434
-----
MEWO
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.4183381088825215
N hop interactions interactions:
Average interactions per gene: 5.415472779369628
Initial interactions:
Average intersections between two genes: 0.02944373085663472
N hop interactions interactions:
Average intersections between two genes: 0.13391298620030959
-----
PATU8988S
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.1991869918699187
N hop interactions interactions:
Average interactions per gene: 4.67479674796748
Initial interactions:
Average intersections between two genes: 0.01784147169373934
N hop interactions interactions:
Average intersections between two genes: 0.07941317702382726
-----
IPC298
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.0195121951219512
N hop interactions interactions:
Average interactions per gene: 4.317073170731708
Initial interactions:
Average intersections between two genes: 0.014657999880732304
N hop interactions interactions:
Average intersections between two genes: 0.08380941022124158
-----
HSC5
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.186046511627907
N hop interactions interactions:
Average interactions per gene: 4.5310077519379846
Initial interactions:
Average intersections between two genes: 0.015180251373522993
N hop interactions interactions:
Average intersections between two genes: 0.06552269135244976
-----
MEL202
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.5311203319502074
N hop interactions interactions:
Average interactions per gene: 5.199170124481328
Initial interactions:
Average intersections between two genes: 0.025060170288386054
N hop interactions interactions:
Average intersections between two genes: 0.08966451290102742
-----
+++++
29452643
HELA
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.9090909090909092
N hop interactions interactions:
Average interactions per gene: 9.0
Initial interactions:
Average intersections between two genes: 0.1645021645021645
N hop interactions interactions:
Average intersections between two genes: 4.199134199134199
-----
A549
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.7272727272727273
N hop interactions interactions:
Average interactions per gene: 7.363636363636363
Initial interactions:
Average intersections between two genes: 0.12121212121212122
N hop interactions interactions:
Average intersections between two genes: 3.017316017316017
-----
+++++
34469736
PC9
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
HELA
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
+++++
28319113
HELA
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.1666666666666665
N hop interactions interactions:
Average interactions per gene: 23.75
Initial interactions:
Average intersections between two genes: 0.2402482269503546
N hop interactions interactions:
Average intersections between two genes: 14.828900709219859
-----
293T
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.744186046511628
N hop interactions interactions:
Average interactions per gene: 21.441860465116278
Initial interactions:
Average intersections between two genes: 0.2115171650055371
N hop interactions interactions:
Average intersections between two genes: 12.191583610188262
-----
A549
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 2.4782608695652173
N hop interactions interactions:
Average interactions per gene: 29.565217391304348
Initial interactions:
Average intersections between two genes: 0.2821256038647343
N hop interactions interactions:
Average intersections between two genes: 21.584541062801932
-----
+++++
26864203
OVCAR8
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 3.242424242424242
N hop interactions interactions:
Average interactions per gene: 26.90909090909091
Initial interactions:
Average intersections between two genes: 0.6609848484848485
N hop interactions interactions:
Average intersections between two genes: 22.626893939393938
-----
+++++
28319085
K562
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.4727272727272727
N hop interactions interactions:
Average interactions per gene: 3.7454545454545456
Initial interactions:
Average intersections between two genes: 0.026936026936026935
N hop interactions interactions:
Average intersections between two genes: 0.33131313131313134
-----
+++++
29251726
MELJUSO
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.3333333333333333
N hop interactions interactions:
Average interactions per gene: 2.3333333333333335
Initial interactions:
Average intersections between two genes: 0.2
N hop interactions interactions:
Average intersections between two genes: 0.8
-----
A549
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
A375
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.3333333333333333
N hop interactions interactions:
Average interactions per gene: 2.0
Initial interactions:
Average intersections between two genes: 0.3333333333333333
N hop interactions interactions:
Average intersections between two genes: 1.0
-----
OVCAR8
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.1428571428571428
N hop interactions interactions:
Average interactions per gene: 1.4285714285714286
Initial interactions:
Average intersections between two genes: 0.047619047619047616
N hop interactions interactions:
Average intersections between two genes: 0.14285714285714285
-----
HT29
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0
N hop interactions interactions:
Average interactions per gene: 1.0
Initial interactions:
Average intersections between two genes: 0.0
N hop interactions interactions:
Average intersections between two genes: 0.0
-----
+++++
30033366
K562
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 7.845588235294118
N hop interactions interactions:
Average interactions per gene: 281.0
Initial interactions:
Average intersections between two genes: 0.3392590451413981
N hop interactions interactions:
Average intersections between two genes: 214.27641277641277
-----
JURKAT
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 3.312
N hop interactions interactions:
Average interactions per gene: 66.872
Initial interactions:
Average intersections between two genes: 0.10184738955823293
N hop interactions interactions:
Average intersections between two genes: 28.532144578313254
-----
+++++
33956155
RPE1
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 71.74226804123711
N hop interactions interactions:
Average interactions per gene: 193.0
Initial interactions:
Average intersections between two genes: 41.80027776294001
N hop interactions interactions:
Average intersections between two genes: 192.0
-----
+++++
36060092
22RV1
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 13.363636363636363
N hop interactions interactions:
Average interactions per gene: 43.0
Initial interactions:
Average intersections between two genes: 4.6839323467230445
N hop interactions interactions:
Average intersections between two genes: 42.0
-----
+++++
33637726
A375
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0232558139534884
N hop interactions interactions:
Average interactions per gene: 1.069767441860465
Initial interactions:
Average intersections between two genes: 0.0005471956224350205
N hop interactions interactions:
Average intersections between two genes: 0.0016415868673050615
-----
RPE
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.0654205607476634
N hop interactions interactions:
Average interactions per gene: 1.1775700934579438
Initial interactions:
Average intersections between two genes: 0.0014106859460412625
N hop interactions interactions:
Average intersections between two genes: 0.004761065067889261
-----
MEWO
Hop: 1
Hop: 2
Initial interactions:
Average interactions per gene: 1.1594202898550725
N hop interactions interactions:
Average interactions per gene: 1.8840579710144927
Initial interactions:
Average intersections between two genes: 0.008951406649616368
N hop interactions interactions:
Average intersections between two genes: 0.0639386189258312
-----
+++++

In [31]:
average_i/count_i

4.539659705589646

In [32]:
average_hop/count_i

23.967609649943597

In [35]:
initial_pairs, n_hops = get_n_hop_interactions(curr_scores, n = 2)

Hop: 1

In [36]:
analyze_n_hop(initial_pairs, n_hops)

Initial interactions:
Average interactions per gene: 3.312
N hop interactions interactions:
Average interactions per gene: 22.144
Initial interactions:
Average intersections between two genes: 0.10184738955823293
N hop interactions interactions:
Average intersections between two genes: 4.051951807228916

In [37]:
initial_pairs, n_hops = get_n_hop_interactions(curr_scores, n = 3)

Hop: 1
Hop: 2

In [38]:
analyze_n_hop(initial_pairs, n_hops)

Initial interactions:
Average interactions per gene: 3.312
N hop interactions interactions:
Average interactions per gene: 66.872
Initial interactions:
Average intersections between two genes: 0.10184738955823293
N hop interactions interactions:
Average intersections between two genes: 28.532144578313254